<html>
    <head>
    <title></title>
    </head>
    <body>
        <h4>Polls App</h4>
        {% if choices %}
        <ul>
        {% for choice in choices %}
            <li>{{ choice }}</li>
            <ul>
                <li> {{ choice.question }}</li>
            </ul>
        {% endfor %}
        </ul>
        {% else %}
        <div>No Choices available to display</div>
        {% endif %}
        {% if questions %}
        <ul>
        {% for question in questions %}
            <li>{{ question }}</li>
        {% endfor %}
        </ul>
        {% else %}
        {% if not pk %} <div>No Questions available to display</div> {% endif %}
        {% endif %}
    </body>
</html>
