<html>
    <head>
    <title></title>
    </head>
    <body>
        {% if questions %}
            <ul>
                {% for question in questions %}
                    <li>
                        {{ question }} - {{ question.pub_date }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div> No Question with published date : {{ pub_date }}</div>
        {% endif %}
    </body>
</html>
